@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
/*@import url('https://fonts.googleapis.com/css?family=Muli');*/
@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body{font-family: 'Nunito'; font-size: 15px;}

#main-content{width: 720px;}

/*html,body {margin:0; padding:0; height:100%; border:3px #f99 solid; overflow:hidden;}

/* IE Hack */
/**html #container { 
    height: 100%;
}

#header {height: 75px; position: relative; z-index: 1;}
#main-content {min-height: 100%; margin: -75px auto 0px auto;}
#footer {position:relative; height: 50px; z-index:1;}

.contents-box {
    padding: 75px 0 0px 0;
}*/