/*Jinyoung Kwon 2017*/
@import url('http://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://fonts.googleapis.com/css?family=Nunito|Muli');

/*init*/
html, body{font-family: "Helvetica Neue",Helvetica,Arial; max-width: 720px; margin:0 auto; font-weight:400; font-size: 15px; color:#111f28;}

a, a:hover, a:active, a:visited{
	color: #111f28;
	text-decoration: none;
}

p{
	line-height: 1.5em;
}

/*header*/
#header {
	padding:50px 0px; 
	border-bottom:solid 1px #111f28;
	font-size:20px;
}
#header .kr{
	font-family:'Jeju Gothic'; 
}
#header .en{
	font-family:'Muli'; 
	font-weight: 700;
}
/*main-content*/
#main-content{
	margin: 20px auto;
	padding: 10px;
}
/*footer*/
#footer{
	color: #afb9c5;
	font-size:12px; 
	padding:20px 0 80px 0px; 
	border-top: solid 1px #111f28;
}
#footer a{
	color: #afb9c5;
    text-decoration: underline;
}
#footer img{
	width: 10px;
}

/*index*/
.big-row{
	height:300px;
}
.small-row{
	height:147.5px;
}
.content-box{
	overflow: hidden;
	border-radius: initial;
	padding: 4px;
}
.content-box img{
	max-width:100%;
	height: auto;
	transition: .5s ease;
}
.content-box:hover, .content-box:active{
	padding: 0;
	border: 8px solid #484e52;
	z-index: 1;
}
.content-box:hover img, .content-box:active img{
	opacity: 0.2;
}
.content-box:hover .bg-box-overlay, .content-box:active .bg-box-overlay{
	opacity: 1;
}
.bg-box{
	background-color: rgba(89,80,70,0.08);
}
.bg-box-overlay{
	text-align: center;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.bg-box-overlay .title{
	font-size: 20px;
	font-weight: 700;
}


/*works*/
.works .title{
	font-size:20px;
	font-weight:700;
}
.works .sub-title{
	font-weight:700;
}
.works img{
	margin-top: 30px;
	width: 100%;
	height: auto;
}
/*.cycle-img img{
	max-width:200px;
	height: auto;
}*/
.url{
	color: darkgrey !important;
}

@media (max-width: 768px) {
	.big-row{
		height: initial;
	}
	.small-row{
		height: initial;
	}
	.content-box{
		height:150px;
		text-align: center;
	}
	.content-box img{
		max-width:initial;
		height:initial;
		max-height:150px;
		width: auto;
		transition: .5s ease;
	}
	.works-info{
	margin-top: 30px;
	}	
	#footer .section{
	margin-top:20px;
	}
}

@media (max-width: 576px){
	html,body{
		padding: 10px;
		max-width: initial !important;
	} 
}

