/*Jinyoung Kwon 2017*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Serif+KR&display=swap');

/*init*/
html, body{position:relative; font-family:"Noto Sans KR"; margin:0px auto; font-weight:400; font-size: 14px; color:#2E2624; max-width:768px;}

a, a:hover, a:active, a:visited{
	color: #2E2624;
	text-decoration: none;
}

p{
	line-height: 1.5em;
}

/*header*/
#header{
	margin-bottom:60px;
}
#header .name{
	font-size:20px;
	font-weight: 700; 
}
#header .text{
	font-size:18px; 
	margin:15px 0; 
	line-height: 30px;
	font-family: "Noto Serif KR"
}
#header .underline{
	text-decoration:underline;
}


/*works*/
.modal-backdrop {
   background: #f7f7f7;
   opacity: 1 !important;
}
#works .modal-content{
	border-radius: 0px;
}
#works .modal-header{
	border: none;
}
#works .modal-body{
	margin-top:30px;
}
#works .image-box{
	padding:20px;
	background: #f7f7f7;
}
#works img{
	max-width: 100%;
	margin:0px auto 15px auto;
}
#works h3, h5{
	font-weight: 700;
}
#works h4{
	margin: 30px 0 15px 0;
}
#works h6{
	font-size:10px;
}
#works hr{
	margin:30px 0;
}
#works a{
	text-decoration: underline;
}

/*btn*/
.btn-outline-dark {
	border: 1px solid #2E2624;
	color: #2E2624;
	border-radius: 0;
}
.btn-outline-dark:hover, .btn-outline-dark:active, .btn-outline-dark:visited{
	background-color: #2E2624;
	border: 1px solid #2E2624;
}


/*main*/
h4{
	margin: 50px 0 30px 0;
	font-weight: 700;
}

#main .card{
	border:1px solid #dbdcdc !important;
}
#main .card img{
	background-color:#f7f7f7
}

/*footer*/
#footer{
	color: #afb9c5;
	font-size:12px; 
	padding-bottom:20px; 
}


@media (max-width: 768px) {
	html,body{
		padding: 20px;
		max-width: initial !important;
	} 
}

@media (max-width: 576px){
	html,body{
		padding: 10px;
		max-width: initial !important;
	} 
}

