/*Jinyoung Kwon 2017*/
@import url('http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css');
@import url('https://fonts.googleapis.com/css?family=Nunito|Muli');

/*init*/
html, body{max-width: 720px; height: 100%; max-height:100px; margin:0 auto; font-size: 15px;font-family:'Jeju Myeongjo';}


a, a:hover, a:active, a:visited{
	color: black;
	text-decoration: none;
	cursor:pointer;
}


/*header*/
#header {
	padding: 80px 0 30px 0;
	font-size:30px;
	text-align: center;
}

#content{
	text-align: center;
}

#header .title{
	font-family:'Jeju Myeongjo'; 
}

#content .contact, #content .contact a{
	font-size:12px;
	color: darkgray;
}

a {
	text-decoration: underline;
}

